<div class="main-card mb-3 card">
  <div class="card-body">
    <h5 class="card-title">{{ nombreFormulario }}</h5>
    <form [formGroup]="formulario">
      <div class="form-row">
        <div class="col-md-2">
          <div class="position-relative form-group">
            <label for="examplePassword11">Tipo Documento</label
            ><select formControlName="tipoDocumento" class="form-control">
              <option value="CC">Cedula</option>
              <option value="CE">CE</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="position-relative form-group">
            <label for="examplePassword11">Identificación</label
            ><input
              formControlName="identidad"
              type="number"
              class="form-control"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="position-relative form-group">
            <label for="exampleEmail11">Nombres</label
            ><input formControlName="nombre" type="text" class="form-control" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="position-relative form-group">
            <label for="exampleEmail11">Apellidos</label
            ><input
              formControlName="apellido"
              type="text"
              class="form-control"
            />
          </div>
        </div>
        <div class="col-md-2">
          <div class="position-relative form-group">
            <label for="exampleEmail11">Sexo</label
            ><select formControlName="genero" class="form-control">
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-3">
          <label for="exampleAddress">Dirección</label>
          <input formControlName="direccion" type="text" class="form-control" />
        </div>
        <div class="col-md-3">
          <label for="exampleAddress">Teléfono</label>
          <input
            formControlName="telefono"
            type="number"
            class="form-control"
          />
        </div>
        <div class="col-md-3">
          <label for="exampleAddress">Celular</label>
          <input formControlName="celular" type="number" class="form-control" />
        </div>
        <div class="col-md-3">
          <label for="exampleAddress">Emáil</label>
          <input formControlName="email" type="email" class="form-control" />
        </div>
      </div>

      <br />
      <div class="form-row">
        <div class="col-md-3">
          <div class="position-relative form-group">
            <label for="exampleState">Departamento</label
            ><select
              formControlName="departamentos"
              class="form-control"
              (change)="selecDepartamento($event)"
            >
              <option
                value="{{ dep.id }}"
                *ngFor="let dep of listDepartamentos"
              >
                {{ dep.nombre }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="position-relative form-group">
            <label for="exampleZip">Municipio</label
            ><select formControlName="municipios" class="form-control">
              <option
                value="{{ mun.nombre }}"
                *ngFor="let mun of listMunicipios"
              >
                {{ mun.nombre }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="position-relative form-group">
            <label for="exampleCity">Estado</label
            ><select formControlName="estado" class="form-control">
              <option select value="Activo">Activo</option>
            </select>
          </div>
        </div>
      </div>

      <button
        [disabled]="!formulario.valid"
        class="mt-2 btn btn-primary"
        ngbTooltip="Crear Nuevo"
        (click)="submit()"
      >
        Crear
      </button>
    </form>
  </div>
</div>
