<app-page-title
  [heading]="heading"
  [subheading]="subheading"
  [icon]="icon"
></app-page-title>
<div class="main-card mb-3 card">
  <div class="card-body">
    <h5 class="card-title">Datos personales</h5>
    <form [formGroup]="formulario">
      <div class="form-row">
        <div class="col-md-3">
          <div class="position-relative form-group">
            <label for="examplePassword11">Identificación</label
            ><input
              type="text"
              class="form-control"
              formControlName="identidad"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="position-relative form-group">
            <label for="exampleEmail11">Nombres</label
            ><input
              formControlName="nombre"
              type="text"
              class="form-control"
              placeholder=""
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="position-relative form-group">
            <label for="exampleEmail11">Apellidos</label
            ><input
              type="text"
              formControlName="apellido"
              class="form-control"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="position-relative form-group">
            <label for="exampleEmail11">Genero</label>
            <select class="form-control" formControlName="genero">
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
              <!--   <option selected value="{{ dato.genero }}">
                {{ dato.genero }}
              </option> -->
            </select>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-3">
          <label for="exampleAddress">Dirección</label>
          <input formControlName="direccion" type="text" class="form-control" />
        </div>
        <div class="col-md-3">
          <label for="exampleAddress">Teléfono</label>
          <input
            formControlName="telefono"
            type="number"
            class="form-control"
          />
        </div>
        <div class="col-md-3">
          <label for="exampleAddress">Celular</label>
          <input formControlName="celular" type="number" class="form-control" />
        </div>
        <div class="col-md-3">
          <label for="exampleAddress">Emáil</label>
          <input formControlName="email" type="email" class="form-control" />
        </div>
      </div>

      <br />
      <div class="form-row">
        <div class="col-md-2">
          <div class="position-relative form-group">
            <label for="exampleCity">Estado</label>
            <select formControlName="estado" class="form-control">
              <option value="Activo">Activo</option>
              <option value="Inactivo">Inactivo</option>
            </select>
          </div>
        </div>
      </div>

      <button
        (click)="submit()"
        class="mt-2 btn btn-primary"
        ngbTooltip="Editar datos"
      >
        Editar datos
      </button>
    </form>
  </div>
</div>
